name: Node
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
permissions: read-all
env:
  PUBLIC_ROWS: 4
  PUBLIC_COLUMNS: 4
  ABLY_API_KEY: 'ABC123'
  PUBLIC_ABLY_CHANNEL: 'some-channel'
  PUBLIC_GITHUB_PAGE: 'github-page'
  PUBLIC_TWITTER_USERNAME: 'twitterUser'
  UPSTASH_REDIS_REST_URL: 'https://upstash.example.com'
  UPSTASH_REDIS_REST_TOKEN: 'ABC123'
jobs:
  test:
    name: Vite Tests
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Install Node dependencies
        run: pnpm install
      - name: Check Format
        run: pnpm run check:formatting
      - name: Check CSS
        run: pnpm run lint:css
      - name: Lint
        run: pnpm run lint
      - name: Check Svelte
        run: pnpm run check
